
// FONTS
$bodyFont: 'Open Sans', sans-serif;
// $headerFont: 'loveloblack', 'arial', sans-serif;


// FONT WEIGHTS
$light: 300;
$normal: 400;
$bold: 700;
$extraBold: 800;


// COLOURS
$primaryGreen: #70C1B3;
$accentBlue: #247BA0;
$accentYellow: #F3FFBD;
$accentPink: #FF1654;

// $textPrimary: ;
// $textSecondary: ;


// DEVICE SIZES

// $tablet: "max-width: 1024px";
// $small: "max-width: 950px";
// $phone: "max-width: 768px";