@import 'setup';
@import 'variables';
@import 'mixins';


@font-face {
  font-family: 'loveloblack';
  src: url('lovelo_black-webfont.woff2') format('woff2'),
    url('lovelo_black-webfont.woff') format('woff');
  // font-weight: normal;
  // font-style: normal;
}


html {
	font-size: 10px;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

body {
	background: $primaryGreen;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.logo h1 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	color: #fff;
	margin: 0;
	padding: 40px 0px;
}
.logo-color {
	color: $accentYellow;
}
p {	
	margin: 0;
}

.formInputContainer {
	max-width: 100%;
	padding: 20px 0px;
	@include breakpoint(tablet) {
		max-width: 100%;
	}
}

input[type=text]::placeholder {
	text-transform: uppercase;
	color: $accentBlue;
}

.userInputs {
	max-width: 600px;
	margin: 0 auto;
	@include breakpoint(tablet) {
		width: 100%;
	}
	@include breakpoint(phone) {
		width: 100%;
	}
}
.firstLine {
	padding: 20px 0px;
}

.formInputContainer p {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 46px;
	font-weight: 300;
	@include breakpoint(tablet) {
		font-size: 36px;
	}
	@include breakpoint(phone) {
		font-size: 20px;
	}
}

.userInputs__hero {
	display: block;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 46px;
	font-weight: 300;
	@include breakpoint(tablet) {
		font-size: 36px;
	}
	@include breakpoint(phone) {
		font-size: 20px;
	}
}

// .userInputs__hero input {
// 	width: 80%;
// }
// .userInputs__hero {}
// 	& > * {
// 		display: inline-block;
// 	}
// 	p.userInputs__hero {
// 		width: 20%;
// 	} 
// 	input.userInputs__hero {
// 		width: 80%;
// 	}
// 	p:first-of-type {
// 		width: 100%;
// 	}
// }



p.bigBox {
	display: block;
}

.wrapper {
	width: 90%;
	max-width: 1150px;
	margin: 0 auto;
	display: block;
}

.appInputs {
	height: 100vh;
}

input.jobTitle, .jobType, #jobLocation, #jobLocation__nav {
	-webkit-border-radius: 0;
	display: inline-block;
	width: 80%;
	background-color: $primaryGreen;
	appearance: none;
	border-style: none;
	border-radius: none;
	border-bottom: 2px dotted #fff;
	font-size: 46px;
	font-weight: 800;
	text-transform: uppercase;
	color: $accentBlue;
	@include breakpoint(tablet) {
		font-size: 36px;
	}
	@include breakpoint(phone) {
		font-size: 20px;
	}
}

button.userSubmit {
	@include breakpoint(phone) {
		display: none;
	}
}

i.fa {
	@include breakpoint(phone) {
		display: none;
	}
}

button.hidden {
	display: none;
	@include breakpoint(phone) {
		display: block;
		margin: 0 auto;
	}
}

h3 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

h4 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

h5 {
	text-align: center;
	color: #FFF;
	font-size: 36px;
}

.appOutputs {
	padding-top: 20px;
}


.userSubmit-container {
	width: 100%;
	margin: 0;
}
// .userSubmit-container p{
// 	background-color: $accentYellow;
// 	color: $accentBlue;
// 	padding: 0 10px;
// 	float: left;
// }
.userSubmit {
	text-transform: uppercase;
	font-weight: 700;
	padding: 0px 10px 0px 10px;
	font-size: 24px;
	background-color: #fff;
	color: $accentBlue;
	border: none;
	i {
		padding: 15px;
		background: $accentYellow;
		margin-left: -10px;
		margin-right: 10px;
	}
}

.userInputs__nav {
	max-width: 100%;
	display: none;
	text-align: center;
	background: $primaryGreen;
	color: #FFF;
	font-weight: 300;
	padding: 0px 0px 20px 0px;
	border-bottom: 1px solid $accentYellow;
	& > * {
		display: inline-block;
		font-size: 20px;
		max-width: 15%;
		@include breakpoint(tablet) {
			max-width:calc(100% / 5);
			margin: 0px 5px;
		}
	}
	.jobTitle__nav, #jobLocation__nav, .userSubmit__nav {
		font-size: 20px;
	}
	@include breakpoint(phone) {
		display: none;
		visibility: hidden;
	}
}
p.hidden {
	@include breakpoint(tablet) {
		display: none;
	}
}
button.userSubmit__nav {
	@include breakpoint(tablet) {
		display: none;
	}
}
button.hidden1 {
	display: none;
	@include breakpoint(tablet) {
		display: block;
	}
}

.sticky {
	position:fixed;
	display: block;
	width: 100%;
	top: 0;
	animation-delay: 0.5s;
}

// Card Styling
.jobCard-container {
	background-color: #fff;
	border-radius: 3px;
	padding: 15px 24px;
	border-top: 10px solid #B8DDD5; 
	box-shadow: 0px 2px 4px rgba(0,0,0,0.30);
	margin: 10px 0px;
	display: block;
	width: 100%;
	float: left;
	// margin: 20px;
	// padding: 20px;
	& > {
		font-family:'Open Sans', sans-serif;
	}

	h3 {
		
		color: $accentBlue;
		font-size: 20px;
		font-weight: 400px;
		margin: 0;
		@include breakpoint(tablet) {
			font-size: 16px;
		}
	}
	h4 {
		// font-family:'Open Sans', sans-serif;
		color: black;
		font-size: 20px;
		font-weight: 300;
		margin: 0;
		padding-bottom: 10px;
		@include breakpoint(tablet) {
			font-size: 16px;
		}
	}
	a {
		// font-family:'Open Sans', sans-serif;
		color: black;
		font-size: 14px;
		font-weight: 300;
	}

	.jobDesc {
		display: none;
		height: calc(133px + 10px + 2px - 11px);
		line-height: 30px;
		border-top: 1px solid $primaryGreen;
		border-bottom: 1px solid $primaryGreen;
		padding: 20px 0px;
		color: black;
		font-size: 16px;
		margin: 0px 0px 10px 0px;
		@include breakpoint(tablet) {
			font-size: 14px;
			padding: 8px 0px;
			line-height: 20px;
			height: calc(133px + 1px - 11px);
		}
		@include breakpoint(phone) {
			font-size: 16px;
			padding: 8px 0px;
			line-height: 30px;
			height: inherit;
		}
	}
}

.cardsContainer {
	width: calc(50% - 40px);
	float: left;
	margin: 0px 20px;
	@include breakpoint(phone) {
	width: 100%;
	margin: 0 auto;
} 
}

footer {
	text-align: center;
	height: 50vh;
}