@import 'setup';


@font-face {
	font-family: 'loveloblack', arial, sans-serif ;
	src: url('lovelo_black-webfont.woff2') format('woff2'),
		url('lovelo_black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: blue;
}

* {
	transition: all 0.5s ease-in-out;
}
.container {
	max-width: 900px;
	margin: 0 auto;
}


body {
	background: skyblue;
	font-family: 'Open Sans', sans-serif;

}


.jobDesc {
		display: none;
}

p.bigBox {
	display: block;
}

.wrapper {
	max-width: 1150px;
	margin: 0 auto;
}

.jobCard-container {
	display: block;
	max-width: calc(50% - 40px);
	float: left;
	margin: 20px;
	// height: 400px;
}

.fixed-header {
	position: fixed;
	top:0; left:0;
	width: 100%;
}

.userSubmit-container {
	display: inline-block;
}
