@import 'setup';



body {
	background: skyblue;
}

.wrapper {
	max-width: 1150px;
	margin: 0 auto;
}



.jobCard-container {
	display: block;
	max-width: calc(50% - 40px);
	float: left;
	margin: 20px;
	// height: 400px;
}

